<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New post</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
</head>
<body>
	<style>
		body{
			display: flex;
			flex-direction: column;
			background-color: #c7b39b;
			margin: 0;
		}
		h1{
			background-color: #9b8b79;
			padding-left: 20px;
			font-family: Tahoma;
			text-align: center
		}
		.post{
			margin: 5px;
			width: 650px;
			height: 100%;
			border: 1px solid #666;
			overflow: hidden;
			background-color: #e5d8c9;
			margin-left: auto;
   			margin-right: auto;
		}
		a {
			text-decoration: none;
			color: black;
		}
		a:hover {	
			text-decoration: none;
			color: black;
		}
		h3{
			background-color: #bca893;
			line-height: 40px;
			margin-bottom: 0;
			padding-bottom: 0;
			margin-top: 0; 
			padding-left: 20px;
		}
		p{
			padding-left: 10px;
			padding-right: 5px;
		}
		hr{
			margin-top: 0;
		}
		textarea, input, label{
			margin-left: 8px;
			width: 97%
		}
		button{
			width: 100%;
		}
	</style>
	<h1><a href='/%>'>Add new post</a></h1>
	<hr>
		<form action="/write" method="post" class="post">
		<label for="title">Title</label><br>
		<input type="text" name="title" id="title"><br>
		<label for="content">Content</label><br>
		<textarea name="content" id="content" cols="85" rows="10"></textarea><br>
		<button>Send</button>
	</form>	
</body>
</html>